{% extends "main/index.html" %}
{% load static %}

{% block extra_css %}
<!-- Подключаем свои собственные стили -->
<link rel="stylesheet" href="{% static 'main/css/test.css' %}">


{% endblock %}

{% block title %}О нас{% endblock %}


{% block content %}

<div style="text-align: center;">
    <p>Корзина покупок...</p>
</div>
{% for ad in ads %}
<div class="basket-ad">
    <div class="basket-content">
        <div class="basket-image">
            <img src="{{ ad.photo.url }}" alt="Ad Image">
        </div>
        <div class="basket-description">
            <h3>{{ ad.title }}</h3>
            <p><strong>Price:</strong> {{ ad.price }}</p>
            <div class="buttons-container">
                <!--          <form action="{% url 'basket' %}" method="post">-->
                <!--            {% csrf_token %}-->
                <input type="hidden" name="ad_id" value="{{ ad.id }}">
                <form method="get" action="{% url 'buy' %}">
                    {% csrf_token %}
                    <input type="hidden" name="ad_id" value="{{ ad.id }}">  <!-- передаем ID объявления в форме -->
                    <button class="buttonMod">Купить</button>
                </form>
                <!--          </form>-->
                <form action="{% url 'details' %}" method="get" class="details-form">
                    {% csrf_token %}
                    <input type="hidden" name="ad_id" value="{{ ad.id }}">
                    <button class="buttonMod">Посмотреть детали</button>
                </form>
                <form action="{% url 'delete_from_basket' %}" method="post" class="delete-form"
                      data-ad-id="{{ ad.id }}">
                    {% csrf_token %}
                    <input type="hidden" name="ad_id" value="{{ ad.id }}">
                    <button class="buttonMod">Удалить из корзины</button>
                </form>
            </div>
        </div>
    </div>

</div>
{% endfor %}

<div class="basket-info">
    <p>всего товаров ({{ total_quantity }})</p>
    <p>общая стоимость {{ total_price }}</p>
</div>


{% endblock %}
