{% extends "main/index.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block content %}
<style>
  .form-container {
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid black;
  }

  .form-container label {
    font-weight: bold;
  }

  .form-container label,
  .form-container input,
  .form-container select {
    margin-bottom: 10px;
  }

  .form-container input,
  .form-container select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-container button {
    padding: 10px;
    background-color: #black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .square-div {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 5%;


  }
  .sqform{
  display: flex;
  flex-direction: row;
  }
</style>
<div class="sqform">
<div class="form-container">
  <form method="post" action="{% url 'submit_order' %}">
    {% csrf_token %}
    <label for="city">Город:</label>
    <select name="city" id="city">
      <option value="1">Город 1</option>
      <option value="2">Город 2</option>
      <option value="3">Город 3</option>
      <option value="4">Город 4</option>
      <option value="5">Город 5</option>
      <option value="6">Город 6</option>
    </select>

    <label for="postal_code">Почтовый индекс:</label>
    <input type="text" name="postal_code" id="postal_code" required>

    <label for="full_name">Фамилия и имя получателя:</label>
    <input type="text" name="full_name" id="full_name" required>

    <label for="tel">Телефон:</label>
    <input type="text" name="tel" id="tel" required>

    <label for="payment_method">Способ оплаты:</label>
    <select name="payment_method" id="payment_method">
      <option value="cash_on_delivery">Оплата при получении</option>
      <option value="online_payment">Онлайн оплата</option>
    </select>

    <button type="submit" class="buy-button">Отправить заказ</button>
  </form>

</div>
   <div class="square-div"></div>
</div>


{% endblock %}