{% extends "main/index.html" %}

{% block content %}
<script>
  function scrollToBottom() {
    const messageContainer = document.querySelector('.message-container');
    messageContainer.scrollTop = messageContainer.scrollHeight;
  }

</script>
<!--  document.addEventListener('DOMContentLoaded', scrollToBottom);-->
<!--    function refreshPage() {-->
<!--    setTimeout(function() {-->
<!--      location.reload();-->
<!--    }, 5000);-->
<!--  }-->

<!--  document.addEventListener('DOMContentLoaded', refreshPage);-->
 <div class="container">
  <div class="message-container">
    {% for message in messages %}
    <div class="message {% if message.sender == request.user %}sender{% endif %}">
      <strong>{% if message.sender == request.user %}You{% else %}{{ message.sender.username }}{% endif %}:</strong>&nbsp; {{ message.content }}
    </div>
    {% endfor %}
  </div>

  <form class="form1" method="post">
    {% csrf_token %}
    <textarea class="textarea1" name="content"></textarea>
    <button class="button1" type="submit">Send</button>
  </form>
</div>

{% endblock %}

