{% extends "main/index.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block content %}
<style>
.form-controlph {
    background-color: #789cc3; /* задаем желтый фон кнопке */
    color: white; /* меняем цвет текста на белый */
    padding: 10px 20px; /* настраиваем внутренние отступы кнопки */
    border: none; /* удаляем границу кнопки */
    cursor: pointer; /* меняем курсор при наведении на кнопку */
    margin-top: 10px;
  }

  .form-controlph:hover {
    background-color: #4c6887; /* задаем темно-золотой цвет фона при наведении */
  }
  .form-controlph::file-selector-button {
    display: none; /* скрываем встроенную кнопку */
  }
  #id_photo{
background-color: #789cc3;
color: white;
}
 #id_photo::file-selector-button {
    display: none; /* скрываем встроенную кнопку */
  }
</style>
<div class="profile-block">
    <div class="profile-left">
        {% if profile.photo %}
        <img src="{{ profile.photo.url }}" alt="Profile Photo" class="profilephoto">
        {% endif %}
    </div>
    <div class="profile-right">
        <h1>{{ profile.user.username }}</h1>
        <p>{{ profile.bio }}</p>
    </div>
</div>
<div class="editprofil">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="buttonMod"">Сохранить</button>
</form>
</div>
<!--<div class="myads"><a href="{% url 'myads' %}"class="button">мои обьявления</a></div>-->
<!-- <div class="myads"><button class="button" onclick="location.href='{% url 'logout' %}?next=/'">Logout</button></div>-->
{% endblock %}