{% extends "main/index.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block content %}

<div class="profile-block">
    <div class="profile-left">
        {% if profile.photo %}
        <img src="{{ profile.photo.url }}" alt="Profile Photo" class="profilephoto">
        {% endif %}
    </div>
    <div class="profile-right">
        <h1>{{ profile.user.username }}</h1>
        <p>{{ profile.bio }}</p>
    </div>
</div>
<div class="editprofil">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Сохранить</button>
</form>
</div>
<!--<div class="myads"><a href="{% url 'myads' %}"class="button">мои обьявления</a></div>-->
<!-- <div class="myads"><button class="button" onclick="location.href='{% url 'logout' %}?next=/'">Logout</button></div>-->
{% endblock %}