{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/main/css/style.css">

</head>
<body>
<div class="header">
    <!--    <div class="image-container">-->
    <!--        <img src="assets/logo3.jpg" alt="">-->
    <!--    </div>-->
    <div class="navigation">
        <div class="search-container">
            <form method="get">
                {{ title_search_form.as_p }}
                <!--                <button class="search-button">Найти</button>-->
            </form>
        </div>
        {% if user.is_authenticated %}
        <div class="buttons">
            <a href="{% url 'postads' %}" class="buttonMod">+ Подать объявление </a>

            <a href="{% url 'home' %}" class="buttonMod">Главная</a>
            <div class="buttonModbaskett">
                <a href="{% url 'basket' %}" class="buttonModbasket">
                    <img src="{% static 'assets/basket.png' %}" alt="Корзина">
                </a>

            </div>
               <div class="buttonModbaskett">
                <a href="#" id="openModal" class="buttonModbasket">
                    <img src="{% static 'assets/pr2.png' %}" alt="Профиль">
                </a>
            </div>


            <script src="/static/main/js/main.js"></script>
            <div class="modal" id="myModal">
                <div class="modal-content">
                    <!-- Здесь разместите содержимое вашего модального окна -->
                    <ul>
                        <li><a href="#">Мои чаты</a></li>
                        <li><a href="{% url 'myads' %}">Мои объявления</a></li>
                        <li><a href="{% url 'profile' %}">Профиль</a></li>
                        <li><a href="{% url 'support' %}">Поддержка</a></li>
                        <li><a href="{% url 'logout' %}?next=/">Выйти</a></li>
                    </ul>
                    <!-- Дополнительные элементы и текст -->
                </div>
            </div>


        </div>
        {% else %}
        <a href="{% url 'postads' %}" class="buttonMod">Подать объявление</a>
        <a href="{% url 'basket' %}" class="buttonMod">Корзина</a>
        <a href="{% url 'home' %}" class="buttonMod">Главная</a>
        <a href="{% url 'register' %}" class="buttonMod">Войти</a>


        {% endif %}
    </div>
</div>

<div class="content">
    {% block content %}
    <div class="filterindex">
        <h3>Фильтры</h3>
        <form method="get" action="">
            {{ filter_form.as_p }}
            <button class="buttonMod">Фильтровать</button>
        </form>
        <!--        <form action="{% url 'home' %}" method="get">-->
        <!--            <label for="from">Цена:</label><br>-->
        <!--            <input type="number" name="from" placeholder="От">-->
        <!--            <input type="number" name="to" placeholder="До"><br>-->

        <!--            <label for="category">Категория:</label>-->
        <!--            <select name="category">-->
        <!--                <option value="">Все категории</option>-->
        <!--                <option value="обувь">Обувь</option>-->
        <!--                <option value="одежда">Одежда</option>-->
        <!--                <option value="развлечения">Развлечения</option>-->
        <!--                &lt;!&ndash; Add more category options &ndash;&gt;-->
        <!--            </select><br>-->

        <!--            <label for="location">Локация:</label>-->
        <!--            <select name="location">-->
        <!--                <option value="">Все локации</option>-->
        <!--                <option value="MT">Минская область</option>-->
        <!--                <option value="BR">Брестская область</option>-->
        <!--                &lt;!&ndash; Add more location options &ndash;&gt;-->
        <!--            </select><br>-->

        <!--            <button type="submit">Сортировать и фильтровать</button>-->
        <!--        </form>-->
    </div>
    <div class="ad-container">
        {% for ad in ads %}
        <div class="ad-item" onclick="redirectToDetails('{{ ad.id }}')">
            <form action="{% url 'basket' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="ad_id" value="{{ ad.id }}">
                <img class="ad-image" src="{{ ad.photo.url }}" alt="Ad Image">
                <div class="ad-description">
                    <p><strong>Price:</strong> {{ ad.price }}</p>
                    <h3>{{ ad.title }}</h3>


                    <button class="buttonMod">в корзину</button>
            </form>

        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}
</div>

<footer>
    <div class="footer-content">
        <p>Это футер с каким-либо текстом</p>
    </div>
</footer>
<script src="/static/main/js/profile.js"></script>
</body>

</html>