{% extends "main/index.html" %}

{% block content %}
<style>
.reddel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.red {
  margin-right: 5px; /* Измененное значение для уменьшения расстояния между кнопками */
}

.correct-button {
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 7px 17px; /* Измененные значения для увеличения размера кнопки */
  transition: background-color 0.2s, color 0.2s;
  text-decoration: none;
  font-size: 16px; /* Измененное значение для увеличения размера текста */
  margin-bottom: 5%;
}

.correct-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.divnetad {
  background-color: white;
  width: 350px;
  margin: 0 auto;
  margin-left: 33%;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #789cc3;
}
</style>
<div class="myadsword"><h1>Мои объявления</h1></div>

<div class="row">
    <div class="columnleft">
        {% if ads %}

        {% for ad in ads %}
        {% if ad.user == request.user %}
        <div class="spisokads"><a class="buttonMod" href="{% url 'ad_details' ad.id %}">{{ ad.title }}</a></div>
        {% endif %}
        {% endfor %}

        {% else %}
        <div class="divnetad">
        <p>У вас пока нет объявлений <a href="{% url 'postads' %}" class="buttonMod">+ Подать объявление </a></p>
            </div>
        {% endif %}
    </div>

    <div class="columnright">
        {% if equal_ad_id %}
        {% for ad in ads %}
        {% if equal_ad_id == ad.id %}
        <div class="myadsdiv">
            <img src="{{ ad.photo.url }}" alt="Ad Photo" class="detailphoto">
            <div class="myadsdivin"><h1 class="field">{{ ad.title }}</h1>
            <p class="field">Категория: {{ ad.category }}</p>
            <p class="field">Описание:{{ ad.description }}</p>
            <p class="field">Цена: {{ ad.price }}</p>
            <p class="field">Местоположение: {{ ad.location }}</p>
            <p class="field">Телефонный номер: {{ ad.phone_number }}</p>
                </div>

                <div class="butsdetail">

                    <a href="{% url 'edit_ad' ad.id %}" class="buttonMod reddel">Редактировать</a>


                    <form method="POST" action="{% url 'delete_ad' ad.id %}">
                        {% csrf_token %}
                        <button class="buttonModbutton">Удалить объявление</button>
                    </form>

                    </div>

        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}