{% extends "main/index.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
<style>

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form p {
    margin-bottom: 10px;
    width: 60%;
    border-bottom: 1px solid #c5d3e0;
}

.input{
width: 140px;
}

.registerdiv{
 display: flex;
  flex-direction: column; /* Можно использовать row, если необходимо */
  justify-content: center;
border-radius: 12px;
border: 1px solid #4c6887;
width: 700px;
margin-left: 30%;
background-color: white;
}
.btnaccent{
margin-left: 40%;
margin-top: 1%;

}
.register-input {
     margin-left: 10px;

}
</style>
<div class="registerdiv">

    <form method="post">
        <h2>Регистрация</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="buttonMod register">Зарегистрироваться</button>
    </form>


</div>
 <div class="btnaccent"><a href="{% url 'login' %}" class="buttonMod">Уже есть аккаунт?</a> or <a class="buttonMod" href="{% url 'login' %}">Войти</a></div>
{% endblock %}