<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link rel="stylesheet" href="/static/main/css/test.css">
</head>
<body>
 <div class="basket-ad">
    <div class="basket-content">
      <div class="basket-image">
        <img src="{{ ad.photo.url }}" alt="Ad Image">
      </div>
      <div class="basket-description">
        <h3>{{ ad.title }}</h3>
        <p><strong>Price:</strong> {{ ad.price }}</p>
        <div class="buttons-container">
<!--          <form action="{% url 'basket' %}" method="post">-->
<!--            {% csrf_token %}-->
            <input type="hidden" name="ad_id" value="{{ ad.id }}">
            <button type="submit" class="buy-button">Купить</button>
<!--          </form>-->
   <form action="{% url 'details' %}" method="get" class="details-form">
    {% csrf_token %}
    <input type="hidden" name="ad_id" value="{{ ad.id }}">
    <button type="submit" class="details-button">Посмотреть детали</button>
</form>
         <form action="{% url 'delete_from_basket' %}" method="post" class="delete-form" data-ad-id="{{ ad.id }}">
        {% csrf_token %}
        <input type="hidden" name="ad_id" value="{{ ad.id }}">
        <button class="delete-button">Удалить из корзины</button>
      </form>
        </div>
      </div>
    </div>
  </div>
<button type="submit" class="buy-button futuristic">Купить</button>
<button type="submit" class="details-button futuristic">Посмотреть детали</button>
<button class="delete-button futuristic">Удалить из корзины</button>
</body>
</html>