/*шапка*/
        html, body {
            margin: 0;
            padding: 0;
        }

        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 80px;
            background-color: white;
            border-bottom: 1px solid #c5d3e0;
            border-top: 1px solid #c5d3e0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            z-index: 1000;
        }

        .logo {
            font-size: 24px;
            margin-right: 10px;

        }

.image-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.image-container img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}  .navigation {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;
            margin-right: 10px;
        }

           .search-container {
        display: flex;
        align-items: center;
    }

    .search-input {
        margin-right: 10px;
    }

    .search-button {
        padding: 5px 10px;
        background-color: black;
        color: #fff;
    }

        .buttons {
            display: flex;
            gap: 10px;
            margin-right: 180px;
        }

      .button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border: 1px solid black;
  text-decoration: none;


}

.button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;

}

        .content {
            margin-top: 100px; /* учитывает высоту хэдера, чтобы контент не перекрывался */
            padding: 20px;
            font-size: 20px;
            line-height: 1.5;

        }

/* форма подачи обьявления */
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #4c6887;
  border-radius: 8px;
  width: 600px;
  margin-left: 34%;
  background-color: white;


}

.form-group {
  margin-bottom: 10px;
   border-top: 1px solid #c5d3e0;
}
.form-group photo{
border-top: none;
margin-top: 10px;
margin-left: 10px;
}
.form-group-phot{
  margin-bottom: 10px;
}
.form-control {
  width: 100%;
  padding: 10px;
}

.label {
  text-align: center;
  font-weight: bold;
}

.submit-btn {
  margin-top: 10px;
  text-align: center;
}

/* футер */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;


}

/* Стили для футера */
/*footer {

    margin-top: 200px;
    width: 100%;
    background-color: white;
    /*border-bottom: 1px solid #c5d3e0;*/
    /*border-top: 1px solid #c5d3e0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    padding: 20px; /* Добавление внутреннего отступа для контента футера */
/*}*/
.footer {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
 .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 80px;
            background-color: white;
            border-bottom: 2px solid #c5d3e0;
            border-top: 1px solid #c5d3e0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            z-index: 1000;
        }
p {
  color: #000;
}

/* обьявления */
    .filterindex {
      margin-left: 11%;
      margin-top: 5%;
      position: fixed;
      width: 200px;
      height: 300px;
    }

    .ad-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 1000px;
        margin-left: 30%;
        flex-direction: row-reverse;



    }
    .ad-container-details{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
    .ad-item {
        flex-basis: calc(25% - 30px);
        margin: 10px;
        border: 1px solid #4c6887;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 10px;

    }
    .ad-item:hover {
        cursor: pointer;
    }
    .ad-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
    }

    .ad-description {
        padding: 10px;
        text-align: left;
        background-color: white;
        border-radius: 8px;
    }

    #ads {
        float: left;
    }

    .btn-view-details {
    cursor: pointer;
}
/* корзина*/
.basket-ad {
  display: flex;
  margin-bottom: 20px;
}

.basket-content {
  display: flex;
  align-items: flex-start;
  border: 1px solid #4c6887;
  border-radius: 6px;
  padding: 10px;
  margin-left: 27%;
  background-color: white;

}

.basket-image {
  flex: 0 0 100px;
}

.basket-image img {
  width: 179px;
  height: auto;
  border-radius: 8px;
}

.basket-description {
  flex: 1 1 auto;
  margin-left: 10px;
}

.basket-description h3 {
  margin-top: 0;
}

.basket-description p {
  margin-bottom: 8px;
}

.buttons-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: auto; /* Position buttons to the right */
}


.basket-info {
  position: fixed;
  right: 30%;
  top: 20%;
  transform: translate(20%, 10%);
}

/* кнопки купить и подробнее
.details-button,.delete-button,
  .buy-button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 2px;
    cursor: pointer;
  }*/

  /* детали подробнее */
  .detailscont {
 width: 30%;
  margin-left: 25%;
  border: 1px solid #4c6887;
  border-radius: 8px;
  background-color: white;


}

.detailphoto{
    width: 400px;
  height: 400px;
  border-radius: 8px;
  margin-top: 2%;
  margin-left: 15%;


}
.field{
margin-left: 70px;
}

.profinfo {
  position: fixed;
  top: 120px;
  right: 5%;
  background-color: white;
  width: 250px;
  height: 180px;
  margin-right: 26%;
  float: left;
  border: 1px solid #4c6887;
  border-radius: 8px;
}


.buttonprof {
  display: inline-block;
  width: 200px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid black;
}

.no-underline {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 8px 16px;
}
.no-underline:hover {
  text-decoration: none;
  color: black;
  background-color: white;
}
#yellowDivDetails {

        background-color: yellow;
        width: 500px;
        height: 600px;
        margin-right: 20px;
        float: left;
    }






/* детали снизу похожие на подробнее */

 .detailsads {
        display: flex;
        justify-content: flex-start;
        width: 45%;
        margin-left: 10%;
        margin-top: 50px;
        border-radius: 5px;
        border-left: 1px solid #c5d3e0;
    }

.ad-containerdetail {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }



/* мои обьявления */
.myads{
        margin-top: 20px;
    }

 .row {
      display: flex;
    }
    .columnleft {
      flex: 1;
      padding: 10px;
      margin-left: 20%;
    }
    .columnright {
      flex: 1;
      padding: 10px;
      margin-right: 30%;
    }


.spisokads a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #789cc3;
  border: 1px solid white;
  width:200px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.spisokads a:hover {
  background-color: white;
  border: 1px solid #4c6887;
  color: black;
}

.spisokads a:active {
  background-color: white;
}

.spisokads a:active span {
  color: black;
}

    .myadsdiv{
    border: 1px solid #4c6887;
    border-radius: 8px;
    width: 600px;
    background-color: white;

    }

    .myadsword {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; /* высота блока равная высоте видимой части страницы */
  width: 400px; /* ширина блока равная ширине страницы */
  margin-left: 25%;
}

.myadsword h1 {
  text-align: center;
}

.correct-button{
    background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 2px;
  cursor: pointer;
  margin-left:20%;

}

.deletemyads-button{
    background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 2px;
  cursor: pointer;
}
.field{
border-bottom: 1px solid #c5d3e0;
    border-radius: 8px;
}

.myadsdivin{
    margin-right: 10px;
    border-right
}
/* профиль чуваков */
.profile-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  max-width: 600px;
  margin-left: 30%;
  border: 1px solid #4c6887;
  border-radius: 8px;
  background-color: white;

}

.divwhit{
margin-left: 32.5%;
background-color: white;
width: 500px;
}
.divtext{
width: 500px;
height: 150px;

 margin-top: 3%;
 border: 1px solid #4c6887;
 border-radius: 8px;

}
#dtext{
margin-top: 20px;
margin-left: 20px;
}
.profile-left {
  width: 150px;
  margin-left: 2px;
}
.redactionbutton{
    margin-right: 20px;
}

.profilephoto {
  width: 100%;
  border-radius: 8px;
}

.profile-right {
  margin-left: 20px;
  flex-grow: 1; /* Добавьте это, чтобы блок растягивался на свободное пространство, если необходимо */
}

.profile-right h1 {
  margin: 0;
}

.profile-right p {
  margin-top: 10px;
}
.spisokadsprofile {
   width: 500px;
   height: 140px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 32.5%;
  margin-top: 2%;
 /* border: 1px solid black;*/
  justify-content: space-between; /* Distribute the buttons evenly with spacing between them */
}

.spisokadsprofile .myads {
  flex: 0 0 calc(33.33% - 10px);
  margin: 5px;
}
/* нопки в профиле*/
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* редактировать профиль*/
.editprofil{
    width: 500px;
    height: 300px;
    margin-left: 30%;
    margin-top: 2%;
     border: 1px solid #4c6887;
        border-radius: 8px;
        background-color: white;


}

/* профиль продовца */
 .ad-containerseller {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 1000px;


    }
    .ad-container-detailsseller{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
    .ad-itemseller {
        flex-basis: calc(25% - 30px);
        margin: 10px;
        border: 1px solid #c5d3e0;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;

    }

    .ad-imageseller {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
    }

    .ad-descriptionseller {
        padding: 10px;
        text-align: left;
    }

/* Диалоговое окно */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 400px;
    height: 400px;
    overflow: auto;
    border: 1px solid #4c6887;
    border-radius: 9px;
    margin-bottom: 1rem;
    background-color: white;

}

.message {
    display: flex;
    max-width: 60%;
    align-items: center;
    margin-bottom: 0.5rem;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 0.5rem;
}

.message.sender {
    justify-self: end;
    background-color: #c5d3e0;
    color: black;
    margin-left: auto;
}

form1 {
    display: flex;
    flex-direction: row;
    width: 400px;
}

textarea1 {
    resize: none;
    height: 100px;
    flex-grow: 1;
    font-family: Arial, sans-serif;
}

button1[type="submit"] {
    height: 30px;
    width: 100px;
}
/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    width: 80%;
    max-width: 300px;
    margin-left: 60%;
    margin-top: 70px;

    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Стили для кнопки открытия модального окна #007bff */
.buttonMod {
  display: inline-block;
  padding: 10px 20px;
  background-color: #789cc3;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}
.buttonModbutton{
 display: inline-block;
  padding: 10px 20px;
  background-color: #789cc3;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  width: 140px;
  height: 50px;
}

.buttonModbutton:hover {
    background-color: #4c6887;
     cursor: pointer;
}
.buttonMod:hover {
    background-color: #4c6887;
}
.buttonMod.chat {
  margin-right: 30px;
}
.buttonMod.register{
margin-top: 10px;
margin-bottom: 20px;
}
.buttonMo{
border: 1px solid white;
border-radius: 5px;
background-color: #007bff;
}

.buttonModbaskett{
width: 30px;
height: 30px;
margin-right: 40px;
margin-left: 10px;
margin-bottom: 10px;
}

.buttonModbasket img {
  width: 50px; /* Замените на желаемое значение ширины */
  height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
  margin-right: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Стили для кнопок */
ul li a {
    display: block;
    padding: 10px 0;
    background-color: #789cc3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

ul li a:hover {
    background-color: #4c6887;
}


    input{
    border-radius: 5px;
        border: 1px solid #4c6887;
    }
    textarea{
    border-radius: 5px;
        border: 1px solid #4c6887;
        margin-top: 8px;
    }

.form-select{
border-radius: 5px;
        border: 1px solid #4c6887;
        margin-top: 8px;
}

#id_location{
border-radius: 5px;
        border: 1px solid #4c6887;
        margin-top: 8px;
}



.butsdetail {
  display: flex;
  justify-content: center;
  padding: 10px; /* Отступы сверху и снизу */
}

.butsdetail form {
  margin: 0 5px; /* Отступы слева и справа между формами */
}

.butsdetail button {
  text-align: center;
  width: 120px; /* Ширина кнопки */
  padding: 10px; /* Отступы внутри кнопки */
}

.buttonMod.writesel{
    margin-bottom: 5px;
    margin-left: 10px;
    width: 170px;
    height: 27px;
    text-align: center;
}
.buttonMod.reddel{
margin-right: 20px;
}

.buttonMod.buyb{
margin-right: 3px;
}

.buttonMod.look{
margin-right: 3px;
}

.button-container-chat {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  width: 400px;
  margin-left: 30%;
  border: 1px solid #4c6887;


}

.divchat {
  margin: 10px;
}
.buttonMod.chatuser{
width: 300px;
text-align: center;
height: 20px;
margin-left: 6%;
}

.uvasnettov{
justify-content: center;
  align-items: center;
background-color: white;
  border-radius: 8px;
  border: 1px solid #4c6887;
   width: 400px;
   margin-left: 38%;
}

.buttonMod.nobuy{
 width: 160px;
 margin-left: 8px;
 margin-top: 4px;
}